html, body {
    font-family: 'Roboto', Arial, Sans, serif;
    font-weight: 400;
    font-size: 10pt;
    color: #222222;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    height: 100%;
}

h1 {
    font-weight: 400;
    text-align: center;
}

body {
    min-width: 200px;
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: #fff;
    border-radius: .3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
body .page {
    flex-grow: 1;
}

.auth-form {
    margin: 0 auto;
    min-width: 200px;
    max-width: 320px;
    padding: 0 .5rem;
}
.auth-form h1 {
    text-align: center;
}

.auth-form form div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: stretch;
    align-items: start;
    align-content: space-between;
    margin: 0 0 .5rem 0;
}

.auth-form form div label {
    font-weight: 700;
    font-style: normal;
    width: 35%;
    flex-grow: 4;
    margin-top: .6rem;
}

.auth-form ul li, .auth-form ol li {
    margin-top: 1.5rem;
}

.button {
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: -.02rem;
    width: 100%;
    display: block;
    color: #fff;
    border: none;
    border-radius: .2rem;
    padding: .7rem 0;
    cursor: pointer;
    text-align: center;
    margin: 1rem 0 1.5rem 0;
    box-sizing: content-box;
    text-decoration: none;
    background-color: #0366d6;
}

.button:hover, .button:focus {
    background-color: #004ea6;
    outline: none;
    text-decoration: none;
}

select {
    display: block;
    box-sizing: border-box;
    border: 1pt solid #ddd;
    border-radius: .2rem;
    flex-grow: 8;
    width: 70%;
    background-color: #fff;
    padding: .5rem .2rem;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url('/img/select-arrow.svg');
    background-repeat: no-repeat, repeat;
    background-position: right .7rem top 50%, 0 0;
    background-size: .5rem auto, 100%;
    outline: none;
}
