DEBUG=1

# public

LOCAL_API_PORT=8088
LOCAL_AUTH_PORT=8089
MAILHOG_PORT=8087

# oauth client

OAUTH_CLIENT_ID=popka
OAUTH_CLIENT_SECRET=durak
OAUTH_CLIENT_REDIRECT=http://localhost:8088

# mailer

MAILER_DSN=smtp://mailhog:1025
SENDER_EMAIL=payments@chirikello.inc
SENDER_NAME="Payment Mailing"

# events

RABBIT_MQ_DSN=user:pass@rabbitmq:5672
