{% extends 'layout.twig' %}

{% block content %}
<h1>Who are you?</h1>
{% if errors %}
<ul>
    {% for error in errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}
<form action="{{ action }}" method="post">
    <input type="hidden" name="return" value="{{ return }}">
    <div>
        <label for="login">login</label>
        <input id="login" name="login" type="text" value="{{ old.login }}">
    </div>
    <div>
        <button type="submit">Auth!</button>
    </div>
</form>

{% endblock %}