{% extends 'layout.twig' %}

{% block content %}
<h1>{{ login }}, really? (((</h1>

<form action="{{ action }}" method="post">
    <div>
        <button type="submit">Exit</button>
    </div>
</form>

{% endblock %}